<?xml version="1.0" encoding="UTF-8"?>
<server description="polly-server">
    <featureManager>
        <feature>beanValidation-3.0</feature>
        <feature>cdi-4.0</feature>
        <feature>expressionLanguage-5.0</feature>
        <feature>pages-3.1</feature>
        <feature>persistence-3.1</feature>
        <feature>restfulWS-3.1</feature>
        <feature>servlet-6.0</feature>
    </featureManager>

    <library id="postgresql-jdbc">
        <fileset>
            <dir>lib/global/</dir>
            <include>postgresql*jar</include>
        </fileset>
    </library>

    <dataSource id="polly-datasource" jndiName="jdbc/polly-ds">
        <jdbcDriver libraryRef="postgresql-jdbc" />
        <properties serverName="localhost"
                    databaseName="postgres"
                    portNumber="5432"
                    user="postgres"
                    password="postgres" />
    </dataSource>

    <!-- Enable detailed logging for JPA. -->
    <logging traceSpecification="eclipselink=all:eclipselink.sql=all" />

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443" />

    <webApplication location="polly-app.war" name="polly" contextRoot="/" />

    <applicationMonitor dropinsEnabled="false" />
    <logging isoDateFormat="true" />
    <webContainer deferServletLoad="false" />
</server>
